/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;

}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

body {
    background: var(--bg-color);
    color: var(--text);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.6rem 6%;
    display: flex;
    align-items: center;
    background-color: yellowgreen;
    z-index: 1;
}

.logo {

    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 500;
    cursor: default;
    margin-right: auto;
}

.navber a {
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.2rem;
}

.navber a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

#darkmood {
    font-size: 2.4rem;
    color: var(--white-color);
}